body {
    background-color: rgb(233, 72, 198);
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 30vh auto min-content;
    grid-template-areas: "navigation" "header" "content" "footer";
}

h1 {
    background-color: rgba(233, 169, 72, 0.159);
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2em;
    text-align: center;
   display: inline-flex;
   
}

h2 {
    background-color: rgba(233, 217, 72, 0.365);
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    display: inline-flex;
    
}

h3 {
    font-style: italic;
}
p {
    background-color: rgba(233, 18, 47, 0.488);
    display: inline-flex;
    font-size: 5em;
    text-align: center
}
img {
    display: block;
    margin: 1em auto;
    max-width: 300px;
    width: 80%;
}

p {
    font-style: italic;
}

ul {
    background-color: rgb(233, 18, 47);
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
    

}

.emphasis {
    font-weight: bold;
}

#middle {
  
    font-style: italic;
}

#header {
    background-image: url(https://i.imgur.com/8MD6UHl.png);
    background-position: center right;
    grid-area: header;
}

#header h1, #header h2 {
    color: rgb(72, 187, 233);
}


#content {
    
    grid-area: content;
    padding: 20px;
}

#footer {
    background-color: chartreuse;
    grid-area: footer;
}

#navigation {
    background-color: rgb(158, 51, 230);
    grid-area: navigation;
    position: sticky;
    top: 0;
}

#navigation>ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

#navigation>ul>li {
    display: inline;
    margin: 10px;
    position: relative;
}

#navigation .dropdown {
    display: none;
    left: -20px;
    position: absolute;
    top: 15px;
}

#navigation a:hover+.dropdown, #navigation a+.dropdown:hover {
    display: block;
}

@media (min-width: 750px) {
    body {
        grid-template-columns: 15% auto;
        grid-template-rows: 40vh auto min-content;
        grid-template-areas: "navigation header" "navigation content" "navigation footer";
    }
    #navigation>ul {
        flex-direction: column;
    }
}